@media screen and (max-width: 1700px) {

	
}

@media screen and (max-width: 1400px) {
	

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
	.fast-time__clock {
		position: relative;
	}

	.fast-time__img {
		display: none;
	}

	.fast-time__inn {
		flex-wrap: wrap;
	}

	.fast-time__clock span {
		display: block;
	}

	.fast-time__clock {
		width: 100%;
		padding: 0;
		border-radius: 0 0px 10px 10px;
	}

	.fast-time__text {
		width: 100%;
	}

	.fast-time__text p {
		margin: 0 auto;
		text-align: center;
	}

	.banner-img  {
		display: none;
	}

	.banner {
  		background: url('../img/banner-bg-mob.png') #EAEAEA;
  		padding: 50px 50px 40px;
  		background-size: contain;
  	}

  	.banner-form__wrp {
    	max-width: 100%;
	}


	.main-footer__inn {
    	justify-content: center;
	}

	.about__inn {
    	max-width: 100%;
	}

	.advantagts__item {
	    margin: 0 40px;
	    padding: 35px 0;
	}


	.part-item {
    	margin: 0px 15px 30px;
	}

	.part-list {
    	justify-content: center;
	}

	.servises-about__block a {
		margin-bottom: 30px;
	}

}

@media screen and (max-width: 992px) {
	

}

@media screen and (max-width: 768px) {
	.section__ttl, .banner-ttl {
		font-size: 30px;
		line-height: 40px;
	}

	.text-block p {
		font-size: 14px;
		line-height: 20px;
	}

	.text-block__link {
		font-size: 14px;
		line-height: 20px;
	}

	.header-menu {
		padding: 0 0 20px;
	}

	.fast-time__text {
		padding: 50px 40px;
	}

	.footer-ps {
		margin-top: 30px;
	}

	.footer-ps img {
		margin: 0 10px 0 0;
	}

	.pagin-block {
		margin-bottom: 50px;
	}

	.form-inner {
    	margin-bottom: 50px;
	}

	.btn {		
    	margin: 25px 0 30px;
	}

	.advantages__list {
    	justify-content: center;
	}

	.advantages {
    	padding: 62px 0 10px;
	}

	
	.main-footer__inn {
    	justify-content: center;
	}

	
	.advantagts__item {
    	margin: 0 50px;
	}

	.steps__item {
		margin: 0 48px;
	}

	.serv-about__inn:before {
		left: -33px;
		transform: rotate(180deg) scale(0.5);
	}

	.serv-about__inn:after {
		right: -33px;
		bottom: 0;
		top: auto;
		transform: scale(0.5);
	}

	.serv-about__inn {
		width: 90%;
	}

	.servises-about {
    padding: 50px 0;
	}

	.about__ttl {
		margin-bottom: 20px!important;
	}

}

@media screen and (max-width: 640px) {
	.form-inner__form-inn {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
 	.header-menu__item {
 		width: 100%;
 	}

 	.header-menu__link {
 		padding: 10px 0;
 		display: block;
 	}

 	.form-inner .section__ttl {
 		margin-bottom: 25px;
 	}

 	.bredrumbs {
    	padding: 25px 0 25px;
	}

	.footer-copy span:before {
		display: none;
	}

	.text-block {
		padding: 25px 0;
	}

	.part-list {
		margin-bottom: 25px;
	}

	.form-inner {
    	margin-bottom: 25px;
	}

	.pagin-block__btn {
		margin: 0 10px;
	}

	.fast-time__text {
    	font-size: 33px;
    	line-height: 37px;
    	padding: 25px 20px;
	}

	.main-footer {
		padding: 30px 0;
	}

	.form-inner__label {
    	width: 100%;
	}

	.form-inner__text {
	    padding-left: 13px;
    	font-size: 14px;
    	line-height: 18px;
    }

    .bread-item {
    	font-size: 15px;
    }

    .bread-link {
    	font-size: 15px;
    }

    .footer-menu__item {
    	width: 100%;
    }

    .about {
    	padding: 30px 0 30px;
	}

	.steps {
    	padding: 30px 0;
	}

	.banner-bottom__link {
		font-size: 22px;
    	line-height: 40px;
	    padding: 30px 30px;
	}

	.banner-bottom__subttl {
		font-size: 26px;
    	line-height: 34px;
	}

	.banner-bottom__ttl {
		font-size: 40px;
    	line-height: 47px;
	}

	.banner-bottom {
    	background: #FF942A;
    	padding: 30px 0 30px;
	}

	.banner {
		padding: 40px 20px 30px;
		height: auto;
	}

	.banner-form__wrp {
		padding: 0 5px;
	}

	.banner-ttl {
		margin-bottom: 10px;
	}

	.footer-menu {
		text-align: center;
	}

	.footer-copy {
		text-align: center;
	}

	.steps__item {
    	padding: 87px 40px 30px;
	}

	#consent {
		font-size: 14px;
    	line-height: 24px;
	}

	.consent-ttl {
    	font-size: 26px;
    	line-height: 28px;
	}

	.consent-to {
	    font-size: 16px;
    	line-height: 25px;
	}

	.consent-subttl {
    	font-size: 20px;
    	line-height: 24px;
    }

    .consent-link__block {
    	max-width: 100%;
    }
	
}

@media screen and (max-width: 425px) {
	
}


@media screen and (max-width: 375px) {
	.fast-time__clock span {
    	font-size: 80px;
    	line-height: 95px;
	}

}

@media screen and (max-width: 320px) {
	.banner-form__black {
	    font-size: 16px;
	}

	.banner {
		padding: 40px 5px 30px;
	}
}